header {
    text-align: center;
    color: red;
}
button {
    border: black;
    color: black;
    text-align: center;
    cursor: pointer;
    background-color: white;
}
.search_div {
    text-align: center;
}