<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <head>
    <title>WWN Grimoire</title>
    <link rel="stylesheet" href="static/styles.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon_final.ico" />
  </head>

  <header>
    <h1 class="header_text">Welcome to the Grimoire</h1>
  </header>
  <section>
    <nav>
      <a href="/about">
        <button>About Button</button>
      </a>
    </nav>
  </section>
  <div class="search_div">
    <label>
      <input type="text" placeholder="Search.." name="q" />
    </label>
  </div>
</html>
